.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.8) url("../../assets/icon-top-arrow.svg") no-repeat center 50%;
    visibility: visible;
    opacity: 0.5;
    transition: all 0.3s;

    &:hover {
        background-color: #3c3c3c;
        opacity: 0.5;
    }

    @media only screen and (min-width: 768px) {
        right: 20px;
        bottom: 20px;
    }

    @media only screen and (min-width: 1024px) {
            height: 60px;
            width: 60px;
            right: 30px;
            bottom: 30px
        }
}
