.menu-cart {
    padding: 3.125rem 0;

    .menu-navigation {
        white-space: nowrap;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 1.25rem;

        .tabs-title {
            float: left;

            &a {
                display: block;
                padding: 1.25rem 1.5rem;
                font-size: .75rem;
                line-height: 1;
                color: #1779ba;

                &:hover {
                    background: #fefefe;
                    color: #1468a0
                }

                &:focus,
                [aria-selected='true'] {
                    background: #fff;
                    color: #1779ba
                }
            }

            // >a[aria-selected='true'],
            // >a[aria-selected='true']:active {
            //     border: 1px solid #000;
            //     padding: .625rem 1.25rem;
            //     background: #fff;
            //     box-sizing: border-box
            // }

            >a[aria-selected='true']{
                &, &:active{
                 border: 1px solid #000;
                 padding: .625rem 1.25rem;
                 background: #fff;
                 box-sizing: border-box
                 }
             }

            >a[aria-selected='true'].m-anim {

                &:hover::before,
                &:hover::after,
                &::before,
                &::after {
                    border: none
                }
            }

        }

        li {
            padding: 0 .3125rem;
            position: relative;

            [data-whatinput='mouse'] {
                outline: 0
            }
        }

        a {
            line-height: 1;
            text-decoration: none;
            display: block;
            padding: 0.7rem 1rem;
            outline: none;
            font-size: 1rem;
            color: #000;
            text-decoration: none;
            position: relative;
            padding: .9375rem 1.25rem;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            transition: padding .2s, border-color .2s
        }

        a,
        button {
            margin-bottom: 0
        }

        .m-anim {
            &:hover {
                padding: .625rem 1.25rem;
                border-color: #000;
                outline: none
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                max-height: 0;
                color: transparent;
                border-left: 1px solid transparent;
                content: attr(data-text);
                transition: max-height .2s, border-color 0s
            }

            &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                padding: .625rem;
                max-height: 0;
                color: transparent;
                border-right: 1px solid transparent;
                content: attr(data-text);
                transition: max-height .2s, border-color 0s
            }

            &:hover {

                &::before,
                &::after {
                    max-height: 100%;
                    transition-delay: .1s;
                    border-color: #000
                }
            }
        }
    }

    .tabs-content {
        border: 1px solid #e6e6e6;
        border-top: 0;
        background: #fefefe;
        color: #3c3c3c;
        transition: all 0.5s ease;
        border: none;

        @media screen and (max-width: 63.9375em) {
            height: 100% !important
        }

        @media screen and (min-width: 64em) and (max-width: 74.9375em) and (orientation: landscape) {
            height: 100% !important
        }

        >.tabs-panel {
            &.is-active {
                animation-duration: 1.25s;
                animation-name: fadeOut
            }

            &.is-active {
                animation-duration: 1.25s;
                animation-name: fadeIn
            }

            @media print,
            screen and (min-width: 40em) {
                &.is-active {
                    animation-name: slideIn, fadeIn;
                    animation-duration: 1.25s
                }
            }
        }

        .tabs-panel {
            display: none;
            padding: 1rem;

            &.is-active {
                display: block
            }

            @media screen and (max-width: 63.9375em) {
                height: 100% !important
            }

            @media screen and (min-width: 64em) and (max-width: 74.9375em) and (orientation: landscape) {
                height: 100% !important
            }

            padding: 0;

            .menu-content {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;

                .menu-section {
                    -ms-flex: 0 0 auto;
                    flex: 0 0 auto;
                    min-height: 0px;
                    min-width: 0px;
                    width: calc(100% - 1.875rem);
                    margin-right: .9375rem;
                    margin-left: .9375rem;

                    @media print,
                    screen and (min-width: 64em) {
                        width: calc(50% - 1.875rem);
                        margin-right: .9375rem;
                        margin-left: .9375rem
                    }

                    table {
                        width: 90%;
                        margin: 0 auto;
                        table-layout: fixed;
                        border-collapse: collapse;
                        border: none;

                        tr:nth-child(even) {
                            background: none;

                            td {
                                background-image: none;
                                text-align: left;
                                font-style: italic;
                                font-size: .875rem;
                                padding-top: 0
                            }

                        }

                        td {
                            padding: 1em 0 0 0;
                            vertical-align: bottom;
                            background-image: radial-gradient(#3c3c3c 1px, #fff 0px);
                            background-size: 8px 8px;
                            background-repeat: repeat-x;
                            background-position: 0% 90%;

                            span {
                                background-color: #fff;
                                text-transform: uppercase
                            }

                        }

                        td:first-child {
                            text-align: left;

                            span {
                                padding-right: .5em
                            }
                        }

                        td:last-child {
                            text-align: right;
                            width: 3em;

                            span {
                                padding-left: .5em
                            }

                        }

                    }
                }
            }
        }
    }
}
