.modal-open {
  overflow: hidden;
  // overflow-y: hidden;
}

.menu-cart {
  padding: 3.125rem 0;

  .menu-navigation {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.25rem;

    .tabs-title {
      float: left;

      &a {
        display: block;
        padding: 1.25rem 1.5rem;
        font-size: 0.75rem;
        line-height: 1;
        color: #1779ba;

        &:hover {
          background: #fefefe;
          color: #1468a0;
        }

        &:focus,
        [aria-selected="true"] {
          background: #fff;
          color: #1779ba;
        }
      }

      > a[aria-selected="true"] {
        &,
        &:active {
          border: 1px solid #000;
          padding: 0.625rem 1.25rem;
          background: #fff;
          box-sizing: border-box;
        }
      }

      > a[aria-selected="true"].m-anim {
        &:hover::before,
        &:hover::after,
        &::before,
        &::after {
          border: none;
        }
      }
    }

    li {
      padding: 0 0.3125rem;
      position: relative;

      [data-whatinput="mouse"] {
        outline: 0;
      }
    }

    a {
      line-height: 1;
      text-decoration: none;
      display: block;
      padding: 0.7rem 1rem;
      outline: none;
      font-size: 1rem;
      color: #000;
      text-decoration: none;
      position: relative;
      padding: 0.9375rem 1.25rem;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      transition:
        padding 0.2s,
        border-color 0.2s;
    }

    a,
    button {
      margin-bottom: 0;
    }

    .m-anim {
      &:hover {
        padding: 0.625rem 1.25rem;
        border-color: #000;
        outline: none;
        color: #f6c710;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-height: 0;
        color: transparent;
        border-left: 1px solid transparent;
        content: attr(data-text);
        transition:
          max-height 0.2s,
          border-color 0s;
      }

      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0.625rem;
        max-height: 0;
        color: transparent;
        border-right: 1px solid transparent;
        content: attr(data-text);
        transition:
          max-height 0.2s,
          border-color 0s;
      }

      &:hover {
        &::before,
        &::after {
          max-height: 100%;
          transition-delay: 0.1s;
          border-color: #000;
        }
      }
    }
  }

  .tabs-content {
    border: 1px solid #e6e6e6;
    border-top: 0;
    background: #fefefe;
    color: #3c3c3c;
    transition: all 0.5s ease;
    border: none;

    @media screen and (max-width: 63.9375em) {
      height: 100% !important;
    }

    @media screen and (min-width: 64em) and (max-width: 74.9375em) and (orientation: landscape) {
      height: 100% !important;
    }

    .tabs-panel {
      display: none;
      padding: 1rem;

      &.is-active {
        display: block;
        animation-duration: 1.5s;
        animation-name: slideIn, fadeIn;
      }

      @media print, screen and (min-width: 40em) {
        &.is-active {
          animation-name: slideIn, fadeIn;
          animation-duration: 1.5s;
        }
      }

      @media screen and (max-width: 63.9375em) {
        height: 100% !important;
      }

      @media screen and (min-width: 64em) and (max-width: 74.9375em) and (orientation: landscape) {
        height: 100% !important;
      }

      .menu-content {
        display: inline-block;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        align-items: center;
        margin-left: 0;
        width: 48%;
        margin-right: 20px;
        vertical-align: top;
        margin-bottom: 24px;

        .image {
          display: block;
          float: left;
          position: relative;
          top: -5px;

          img {
            // border-radius: 99em;
            border-radius: 4px;
            height: 60px;
            width: 60px;
            margin-top: 25px;
            margin-bottom: 10px;
            cursor: pointer;
          }
        }

        .menu-section {
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          min-height: 0px;
          min-width: 0px;
          width: calc(100% - 3rem);
          margin-right: 2rem;
          margin-left: 2rem;

          @media print, screen and (min-width: 64em) {
            width: calc(100% - 3rem);
            margin-right: 2rem;
            margin-left: 2rem;
          }

          table {
            width: 90%;
            margin: 0 auto;
            table-layout: fixed;
            border-collapse: collapse;
            border: none;

            tr:nth-child(even) {
              background: none;

              td {
                background-image: none;
                text-align: left;
                font-style: italic;
                font-size: 0.875rem;
                padding-top: 0;
              }
            }

            td {
              padding: 1em 0 0 0;
              vertical-align: bottom;
              background-image: radial-gradient(#3c3c3c 1px, #fff 0px);
              background-size: 8px 8px;
              background-repeat: repeat-x;
              background-position: 0% 90%;

              span {
                background-color: #fff;
                text-transform: uppercase;
              }

              button {
                cursor: pointer;
                font-style: italic;
                font-size: 0.875rem;
                color: #00b135;
                &:hover {
                  width: 10%;
                  height: 20px;
                  border-radius: 10px;
                  background-color: #e6f1fb;
                  color: #344767;
                  font-style: italic;
                  font-size: 0.875rem;
                  cursor: pointer;
                }
              }
            }

            td:first-child {
              text-align: left;

              span {
                padding-right: 0.5em;
              }
            }

            td:last-child {
              text-align: right;
              width: 3em;

              span {
                padding-left: 0.5em;
              }
            }
          }
        }
      }
    }
  }
}
